* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    /*background-color: rgb(40, 40, 40);*/
    background: linear-gradient(to bottom, rgb(60, 5, 5), rgb(84, 8, 8),rgb(48, 4, 4), rgb(39, 2, 2), rgb(0, 0, 0) );
}

header {
    background-color: rgb(199, 255, 91);
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul{
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1200px;
    margin: 0 auto;
}

.navbar-header {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 1.2rem;
    margin-left: 20px;
}

.navbar-body {
    display: flex;
    list-style: none;
}

.navbar-body a {
    padding: 8px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.navbar-body a:hover {
    background-color: rgb(60, 60, 60);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 30px auto;
    gap: 10px;
}

/* CSS de las series */

.series {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #fff;
}

.serie {
    width: 201px;
    height: 350px;
    overflow-wrap: break-word;
}

.serie-img {
    width: 201px;
    height: 300px;
    overflow: hidden;
    border-radius: 7px;
}

.serie-title {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 50px;
    font-family: 'Monomaniac One', sans-serif
}

.serie img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 7px;
    transition: transform 0.3s ease;
}

.serie img:hover {
    transform: scale(1.1);
}

.populares {
    border-radius: 15px;
    height: 180px;
    color: #ffffffe7;
    background-color: rgb(120, 0, 204);
    margin-left: 5px;
    margin-bottom: 50px;
    
}
h4 {
    margin-top: 3px;
    margin-left: 7px;
}
.banner{
    text-align: center;
}
.banner img{
    width: 100%;
    height: 250px;
}
#me{
    color: black;
}